VB10-ADF-ETL-DEV/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "VB10-ADF-ETL-DEV"
		},
		"DS_AzureSQLDB_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'DS_AzureSQLDB'"
		},
		"DS_BULK_PARQT_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'DS_BULK_PARQT'"
		},
		"DS_Parquet_Snowflake_Raw_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'DS_Parquet_Snowflake_Raw'"
		},
		"DS_RESTAPI_RAW_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'DS_RESTAPI_RAW'"
		},
		"DS_RESTAPI_SRC_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'DS_RESTAPI_SRC'"
		},
		"DS_SFTP_SRC_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'DS_SFTP_SRC'"
		},
		"DS_SNOWFLAKE_PRAQT_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'DS_SNOWFLAKE_PRAQT'"
		},
		"DS_SNOWFLAKE_SRC_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'DS_SNOWFLAKE_SRC'"
		},
		"DS_SQLOnPrem_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'DS_SQLOnPrem'"
		},
		"DS_SQL_OnPrem_PARQT_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'DS_SQL_OnPrem_PARQT'"
		},
		"DS_SQL_OnPrem_raw_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'DS_SQL_OnPrem_raw'"
		},
		"DS_SRC_PARQT_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'DS_SRC_PARQT'"
		},
		"DS_SWITCH_CSV_AzureSQL_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'DS_SWITCH_CSV_AzureSQL'"
		},
		"LS_AZRESQL_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_AZRESQL'"
		},
		"LS_AZRESQL_EXCEL_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_AZRESQL_EXCEL'"
		},
		"LS_Azure_SQL_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_Azure_SQL'"
		},
		"LS_BLOB_SNOWFLAKE_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_BLOB_SNOWFLAKE'"
		},
		"LS_BULK_RAW_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_BULK_RAW'"
		},
		"LS_CSV_RAW_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_CSV_RAW'"
		},
		"LS_EXCEL_PARQT_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_EXCEL_PARQT'"
		},
		"LS_EXCEL_RAW_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_EXCEL_RAW'"
		},
		"LS_JSON_PARQT_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_JSON_PARQT'"
		},
		"LS_JSON_RAW_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_JSON_RAW'"
		},
		"LS_Parquet_Snowflake_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_Parquet_Snowflake'"
		},
		"LS_SFTP_PARQT_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_SFTP_PARQT'"
		},
		"LS_SFTP_RAW_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_SFTP_RAW'"
		},
		"LS_SNOWFLAKE_BLOB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_SNOWFLAKE_BLOB'"
		},
		"LS_SNOWFLAKE_SNK_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SNOWFLAKE_SNK'"
		},
		"LS_SQL_OnPrem_SRC_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SQL_OnPrem_SRC'"
		},
		"LS_SQL_RAW_ONPREM_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SQL_RAW_ONPREM'"
		},
		"LS_SRC_SQLONPREM_PARQT_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_SRC_SQLONPREM_PARQT'"
		},
		"lS_SQLOnPrem_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'lS_SQLOnPrem'"
		},
		"DS_AzureSQLDB_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sql-srvr-vb-dev1009.database.windows.net"
		},
		"DS_AzureSQLDB_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "sql-db-vb-dev"
		},
		"DS_AzureSQLDB_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Anusha"
		},
		"DS_BULK_PARQT_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://frtadlsolistsrc009.dfs.core.windows.net/"
		},
		"DS_Parquet_Snowflake_Raw_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://frtadlsolistsrc009.dfs.core.windows.net/"
		},
		"DS_RESTAPI_RAW_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://retoolapi.dev/kKMrbo/data"
		},
		"DS_RESTAPI_RAW_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Anusha"
		},
		"DS_RESTAPI_SRC_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://frtadlsolistsrc009.dfs.core.windows.net/"
		},
		"DS_SFTP_SRC_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsdevvbraw010.dfs.core.windows.net/"
		},
		"DS_SNOWFLAKE_PRAQT_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://frtadlsolistsrc009.dfs.core.windows.net/"
		},
		"DS_SNOWFLAKE_SRC_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "DBAZURESNOW"
		},
		"DS_SQLOnPrem_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "DESKTOP-CU76O3C\\SQLEXPRESS"
		},
		"DS_SQLOnPrem_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "VBPROJECT"
		},
		"DS_SQLOnPrem_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Anusha"
		},
		"DS_SQL_OnPrem_PARQT_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://frtadlsolistsrc009.dfs.core.windows.net/"
		},
		"DS_SQL_OnPrem_raw_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "DESKTOP-CU76O3C\\SQLEXPRESS"
		},
		"DS_SQL_OnPrem_raw_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "VBPROJECT"
		},
		"DS_SQL_OnPrem_raw_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Anusha"
		},
		"DS_SRC_PARQT_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://frtadlsolistsrc009.dfs.core.windows.net/"
		},
		"DS_SWITCH_CSV_AzureSQL_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sql-srvr-vb-dev1009.database.windows.net"
		},
		"DS_SWITCH_CSV_AzureSQL_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "sql-db-vb-dev"
		},
		"DS_SWITCH_CSV_AzureSQL_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Anusha"
		},
		"LS_AZRESQL_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sql-srvr-vb-dev1009.database.windows.net"
		},
		"LS_AZRESQL_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "sql-db-vb-dev"
		},
		"LS_AZRESQL_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Anusha"
		},
		"LS_AZRESQL_EXCEL_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sql-srvr-vb-dev1009.database.windows.net"
		},
		"LS_AZRESQL_EXCEL_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "sql-db-vb-dev"
		},
		"LS_AZRESQL_EXCEL_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Anusha"
		},
		"LS_Azure_SQL_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sql-srvr-vb-dev1009.database.windows.net"
		},
		"LS_Azure_SQL_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "sql-db-vb-dev"
		},
		"LS_Azure_SQL_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Anusha"
		},
		"LS_BULK_RAW_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsdevvbraw010.dfs.core.windows.net/"
		},
		"LS_CSV_RAW_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsdevvbraw010.dfs.core.windows.net/"
		},
		"LS_EXCEL_PARQT_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://frtadlsolistsrc009.dfs.core.windows.net/"
		},
		"LS_EXCEL_RAW_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsdevvbraw010.dfs.core.windows.net/"
		},
		"LS_JSON_PARQT_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://frtadlsolistsrc009.dfs.core.windows.net/"
		},
		"LS_JSON_RAW_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsdevvbraw010.dfs.core.windows.net/"
		},
		"LS_SFTP_PARQT_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://frtadlsolistsrc009.dfs.core.windows.net/"
		},
		"LS_SFTP_RAW_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsdevvbraw010.dfs.core.windows.net/"
		},
		"LS_SNOWFLAKE_RAW_sasUri": {
			"type": "secureString",
			"metadata": "Secure string for 'sasUri' of 'LS_SNOWFLAKE_RAW'"
		},
		"LS_SNOWFLAKE_SNK_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "USER$ANUSHA"
		},
		"LS_SQL_OnPrem_SRC_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "DESKTOP-CU76O3C\\SQLEXPRESS"
		},
		"LS_SQL_OnPrem_SRC_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "VBPROJECT"
		},
		"LS_SQL_OnPrem_SRC_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Anusha"
		},
		"LS_SQL_RAW_ONPREM_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "DESKTOP-CU76O3C\\SQLEXPRESS"
		},
		"LS_SQL_RAW_ONPREM_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "VBPROJECT"
		},
		"LS_SQL_RAW_ONPREM_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Anusha"
		},
		"LS_SRC_SQLONPREM_PARQT_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://frtadlsolistsrc009.dfs.core.windows.net/"
		},
		"lS_SQLOnPrem_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "DESKTOP-CU76O3C\\SQLEXPRESS"
		},
		"lS_SQLOnPrem_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "VBPROJECT"
		},
		"lS_SQLOnPrem_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Anusha"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL1_MASTER')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SET_VAR_TRIGGER",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Trigger_variable",
							"value": {
								"value": "@if(equals(pipeline().parameters.Trigger_variable, null),pipeline().TriggerName,pipeline().parameters.Trigger_variable)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "EXEC_RAW_DATA",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SET_VAR_TRIGGER",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL2_RAW_DATA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Trigger": {
									"value": "@pipeline().parameters.Trigger_variable",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Trigger_variable": {
						"type": "string"
					}
				},
				"variables": {
					"Trigger_variable": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-31T09:10:00Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL2_RAW_DATA')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL2_RAW_DATA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LKUP_L2_TYPE",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT DISTINCT L2_switch_type \nFROM dbo.vb_tbl_job a\nJOIN dbo.vb_tbl_trigger b ON a.trigger_id = b.trigger_id\nWHERE b.trigger_name = '@{pipeline().parameters.Trigger}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_Azure_SQL",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "SWITCH_SOURCE",
						"type": "Switch",
						"dependsOn": [
							{
								"activity": "LKUP_L2_TYPE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"on": {
								"value": "@activity('LKUP_L2_TYPE').output.firstRow.L2_switch_type\r\n",
								"type": "Expression"
							},
							"cases": [
								{
									"value": "CloudStorage",
									"activities": [
										{
											"name": "EXEC_PL3_CLOUD",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"policy": {
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "PL3_CLOUDSG_CSV_EXCEL",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"Trigger": {
														"value": "@pipeline().parameters.Trigger",
														"type": "Expression"
													}
												}
											}
										}
									]
								},
								{
									"value": "api",
									"activities": [
										{
											"name": "Wait1",
											"type": "Wait",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"waitTimeInSeconds": 1
											}
										}
									]
								},
								{
									"value": "sql",
									"activities": [
										{
											"name": "Wait2",
											"type": "Wait",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"waitTimeInSeconds": 1
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Trigger": {
						"type": "string"
					}
				},
				"variables": {
					"Mapping": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-31T09:09:59Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Azure_SQL')]",
				"[concat(variables('factoryId'), '/pipelines/PL3_CLOUDSG_CSV_EXCEL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL3_CLOUDSG_CSV_EXCEL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LKUP_SRC_FILES",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT DISTINCT L3_switch_type \nFROM dbo.vb_tbl_job a\nJOIN dbo.vb_tbl_trigger b ON a.trigger_id = b.trigger_id\nWHERE b.trigger_name = '@{pipeline().parameters.Trigger}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_AzureSQL",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Switch_SRC_LOC_CSV_EXCEL",
						"type": "Switch",
						"dependsOn": [
							{
								"activity": "LKUP_SRC_FILES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"on": {
								"value": "@activity('LKUP_SRC_FILES').output.firstRow.L3_switch_type",
								"type": "Expression"
							},
							"cases": [
								{
									"value": "Azure",
									"activities": [
										{
											"name": "Exec_file_CSV",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"policy": {
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "PL_CSV",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"Trigger": {
														"value": "@pipeline().parameters.Trigger",
														"type": "Expression"
													}
												}
											}
										}
									]
								},
								{
									"value": "AWS",
									"activities": [
										{
											"name": "Wait1",
											"type": "Wait",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"waitTimeInSeconds": 1
											}
										}
									]
								},
								{
									"value": "GCP",
									"activities": [
										{
											"name": "Wait2",
											"type": "Wait",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"waitTimeInSeconds": 1
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Trigger": {
						"type": "string"
					}
				},
				"variables": {
					"Mapping": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-31T09:32:03Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_AzureSQL')]",
				"[concat(variables('factoryId'), '/pipelines/PL_CSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_BULK')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CPY_BULK",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_BULK_RAW",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_BULK_PARQT",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-30T12:22:06Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_BULK_RAW')]",
				"[concat(variables('factoryId'), '/datasets/DS_BULK_PARQT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_CSV')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CPY_RAW_SRC_CSV",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SP-START-LOG-ENTRY",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "SET_MAPPING_VARIABLE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_CSV_RAW",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SRC_PARQT",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "LKUP_JOB_DETAILS",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[vb_get_job_dtls]",
								"storedProcedureParameters": {
									"TriggerName": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.Trigger",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_AZRESQL",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "SP-START-LOG-ENTRY",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "LKUP_JOB_DETAILS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[vb_start_log_entry]",
							"storedProcedureParameters": {
								"jobid": {
									"value": {
										"value": "@activity('LKUP_JOB_DETAILS').output.firstRow.jobid",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"pipeline_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DS_AzureSQLDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SET_MAPPING_VARIABLE",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "Mapping",
							"value": {
								"value": "{\n    \"type\": \"TabularTranslator\",\n    \"mappings\": [\n        {\n            \"source\": {\n                \"name\": \"review_id\",\n                \"type\": \"String\",\n                \"physicalType\": \"String\"\n            },\n            \"sink\": {\n                \"name\": \"reviewid\",\n                \"type\": \"String\",\n                \"physicalType\": \"UTF8\"\n            }\n        },\n        {\n            \"source\": {\n                \"name\": \"order_id\",\n                \"type\": \"String\",\n                \"physicalType\": \"String\"\n            },\n            \"sink\": {\n                \"name\": \"orderid\",\n                \"type\": \"String\",\n                \"physicalType\": \"UTF8\"\n            }\n        },\n        {\n            \"source\": {\n                \"name\": \"review_score\",\n                \"type\": \"String\",\n                \"physicalType\": \"String\"\n            },\n            \"sink\": {\n                \"name\": \"reviewscore\",\n                \"type\": \"String\",\n                \"physicalType\": \"UTF8\"\n            }\n        },\n        {\n            \"source\": {\n                \"name\": \"review_comment_title\",\n                \"type\": \"String\",\n                \"physicalType\": \"String\"\n            },\n            \"sink\": {\n                \"name\": \"reviewcommenttitle\",\n                \"type\": \"String\",\n                \"physicalType\": \"UTF8\"\n            }\n        },\n        {\n            \"source\": {\n                \"name\": \"review_comment_message\",\n                \"type\": \"String\",\n                \"physicalType\": \"String\"\n            },\n            \"sink\": {\n                \"name\": \"reviewcommentmessage\",\n                \"type\": \"String\",\n                \"physicalType\": \"UTF8\"\n            }\n        },\n        {\n            \"source\": {\n                \"name\": \"review_creation_date\",\n                \"type\": \"String\",\n                \"physicalType\": \"String\"\n            },\n            \"sink\": {\n                \"name\": \"reviewcreationdate\",\n                \"type\": \"String\",\n                \"physicalType\": \"UTF8\"\n            }\n        },\n        {\n            \"source\": {\n                \"name\": \"review_answer_timestamp\",\n                \"type\": \"String\",\n                \"physicalType\": \"String\"\n            },\n            \"sink\": {\n                \"name\": \"reviewanswertimestamp\",\n                \"type\": \"String\",\n                \"physicalType\": \"UTF8\"\n            }\n        },\n    ],\n    \"typeConversion\": true,\n    \"typeConversionSettings\": {\n        \"allowDataTruncation\": true,\n        \"treatBooleanAsNumber\": false\n    }\n}\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SP-SUCESS-LOG-ENTRY",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CPY_RAW_SRC_CSV",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[vb_end_log_entry]",
							"storedProcedureParameters": {
								"error": {
									"value": null,
									"type": "String"
								},
								"jobid": {
									"value": {
										"value": "@activity('LKUP_JOB_DETAILS').output.firstRow.jobid",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"pipeline_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DS_AzureSQLDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP-FAIL-LOG-ENTRY",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CPY_RAW_SRC_CSV",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[vb_end_log_entry]",
							"storedProcedureParameters": {
								"error": {
									"value": {
										"value": "@activity('CPY_RAW_SRC_CSV').error",
										"type": "Expression"
									},
									"type": "String"
								},
								"jobid": {
									"value": {
										"value": "@activity('LKUP_JOB_DETAILS').output.firstRow.jobid",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"pipeline_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DS_AzureSQLDB",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Trigger": {
						"type": "string"
					}
				},
				"variables": {
					"Mapping": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-04-01T12:05:00Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_CSV_RAW')]",
				"[concat(variables('factoryId'), '/datasets/DS_SRC_PARQT')]",
				"[concat(variables('factoryId'), '/datasets/DS_AZRESQL')]",
				"[concat(variables('factoryId'), '/linkedServices/DS_AzureSQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_EVENT_TRIGGER')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CPY_BLOB_ADLS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*.parquet",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Parquet_Snowflake",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Parquet_Snowflake_Raw",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-31T16:05:11Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Parquet_Snowflake')]",
				"[concat(variables('factoryId'), '/datasets/DS_Parquet_Snowflake_Raw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_EXCEL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CPY_EXCEL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "STRT_LOG_ENTRY",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_EXCEL_RAW",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_EXCEL_PARQT",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "LOOKUP_JOB_DETAILS",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[vb_get_job_dtls]",
								"storedProcedureParameters": {
									"TriggerName": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.Trigger",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_AZRESQL_EXCEL",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "STRT_LOG_ENTRY",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "LOOKUP_JOB_DETAILS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[vb_start_log_entry]",
							"storedProcedureParameters": {
								"jobid": {
									"value": {
										"value": "@activity('LOOKUP_JOB_DETAILS').output.firstRow.jobid",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"pipeline_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AZRESQL_EXCEL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_SUCCESS_LOG_ENTRY",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CPY_EXCEL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[vb_end_log_entry]",
							"storedProcedureParameters": {
								"error": {
									"value": null,
									"type": "String"
								},
								"jobid": {
									"value": {
										"value": "@activity('LOOKUP_JOB_DETAILS').output.firstRow.jobid",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"pipeline_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AZRESQL_EXCEL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_FAIL_LOG_ENTRY",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CPY_EXCEL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[vb_end_log_entry]",
							"storedProcedureParameters": {
								"error": {
									"value": {
										"value": "@activity('CPY_EXCEL').error",
										"type": "Expression"
									},
									"type": "String"
								},
								"jobid": {
									"value": {
										"value": "@activity('LOOKUP_JOB_DETAILS').output.firstRow.jobid",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"pipeline_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AZRESQL_EXCEL",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Trigger": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-31T15:31:48Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_EXCEL_RAW')]",
				"[concat(variables('factoryId'), '/datasets/DS_EXCEL_PARQT')]",
				"[concat(variables('factoryId'), '/datasets/DS_AZRESQL_EXCEL')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_AZRESQL_EXCEL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_JSON')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CPY_JSON",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*.json",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_JSON_RAW",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_JSON_PARQT",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-30T12:22:06Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_JSON_RAW')]",
				"[concat(variables('factoryId'), '/datasets/DS_JSON_PARQT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_RESTAPI')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CPY_RESTAPI",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_RESTAPI_RAW",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_RESTAPI_SRC",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-30T12:22:06Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_RESTAPI_RAW')]",
				"[concat(variables('factoryId'), '/datasets/DS_RESTAPI_SRC')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SFTP')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CPT_SFTP",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_SFTP_SRC",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SFTP_PARQT",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-31T00:49:16Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_SFTP_SRC')]",
				"[concat(variables('factoryId'), '/datasets/DS_SFTP_PARQT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SNOWFLAKE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CPY_SNOWFLAKE",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SnowflakeV2Source",
								"exportSettings": {
									"type": "SnowflakeExportCopyCommand"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_SNOWFLAKE_SRC",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SNOWFLAKE_PRAQT",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-31T04:24:09Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_SNOWFLAKE_SRC')]",
				"[concat(variables('factoryId'), '/datasets/DS_SNOWFLAKE_PRAQT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SQL_OnPrem')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CPY_SQLOnPrem",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "SELECT \n    TABLE_SCHEMA,\n    TABLE_NAME\nFROM INFORMATION_SCHEMA.TABLES\nWHERE TABLE_TYPE = 'BASE TABLE'\nAND TABLE_CATALOG = 'VBPROJECT';",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQLOnPrem",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1_copy1_raw-src_copy1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "CPY_SQLOnPrem",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('CPY_SQLOnPrem').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "CPY_SQL_OnPrem_copy1_copy1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_SQL_OnPrem",
											"type": "DatasetReference",
											"parameters": {
												"tablename": {
													"value": "@item().TABLE_NAME",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_SQLONPREM_SRC",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-31T06:35:24Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_SQLOnPrem')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_OnPrem')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQLONPREM_SRC')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SWITCH_CSV_EXCEL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LKUP_GET_FILETYPE_CSV_EXCEL",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT DISTINCT L4_switch_type \nFROM dbo.vb_tbl_job a\nJOIN dbo.vb_tbl_trigger b ON a.trigger_id = b.trigger_id\nWHERE b.trigger_name = '@{pipeline().parameters.Trigge}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SWITCH_CSV_AzureSQL",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Switch_CSV_EXCEL_FILES",
						"type": "Switch",
						"dependsOn": [
							{
								"activity": "LKUP_GET_FILETYPE_CSV_EXCEL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"on": {
								"value": "@activity('LKUP_GET_FILETYPE_CSV_EXCEL').output.firstRow.L4_switch_type",
								"type": "Expression"
							},
							"cases": [
								{
									"value": "csv",
									"activities": [
										{
											"name": "Execute Pipeline1",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"policy": {
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "PL_CSV",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"Trigger": {
														"value": "@pipeline().parameters.Trigge",
														"type": "Expression"
													}
												}
											}
										}
									]
								},
								{
									"value": "excel",
									"activities": [
										{
											"name": "EXCE_PL_EXCEL",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"policy": {
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "PL_EXCEL",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"Trigger": {
														"value": "@pipeline().parameters.Trigge",
														"type": "Expression"
													}
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Trigge": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-31T10:55:18Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_SWITCH_CSV_AzureSQL')]",
				"[concat(variables('factoryId'), '/pipelines/PL_CSV')]",
				"[concat(variables('factoryId'), '/pipelines/PL_EXCEL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_AZRESQL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AZRESQL",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AZRESQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_AZRESQL_EXCEL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AZRESQL_EXCEL",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AZRESQL_EXCEL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_AzureSQL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DS_AzureSQLDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DS_AzureSQLDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Azure_SQL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_Azure_SQL",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_Azure_SQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_BULK_PARQT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DS_BULK_PARQT",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@concat(\n   'bulk/',\n    formatDateTime(utcNow(),'yyyy'),'/',      \n    formatDateTime(utcNow(),'MM'),'/',\n    formatDateTime(utcNow(),'dd'))",
							"type": "Expression"
						},
						"fileSystem": "output"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DS_BULK_PARQT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_BULK_RAW')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_BULK_RAW",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "bulk",
						"fileSystem": "input"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "geolocation_zip_code_prefix",
						"type": "String"
					},
					{
						"name": "geolocation_lat",
						"type": "String"
					},
					{
						"name": "geolocation_lng",
						"type": "String"
					},
					{
						"name": "geolocation_city",
						"type": "String"
					},
					{
						"name": "geolocation_state",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_BULK_RAW')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_CSV_RAW')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_CSV_RAW",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "csv",
						"fileSystem": "input"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_CSV_RAW')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_EXCEL_PARQT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_EXCEL_PARQT",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@concat(\n   'excel/',\n    formatDateTime(utcNow(),'yyyy'),'/',      \n    formatDateTime(utcNow(),'MM'),'/',\n    formatDateTime(utcNow(),'dd'))",
							"type": "Expression"
						},
						"fileSystem": "output"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "geolocation_zip_code_prefix",
						"type": "UTF8"
					},
					{
						"name": "geolocation_lat",
						"type": "UTF8"
					},
					{
						"name": "geolocation_lng",
						"type": "UTF8"
					},
					{
						"name": "geolocation_city",
						"type": "UTF8"
					},
					{
						"name": "geolocation_state",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_EXCEL_PARQT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_EXCEL_RAW')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_EXCEL_RAW",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": {
						"value": "4f126dc83d716ab444ccf66ccad64cc",
						"type": "Expression"
					},
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "excel",
						"fileSystem": "input"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_EXCEL_RAW')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_JSON_PARQT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_JSON_PARQT",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@concat(\n   'csv/',\n    formatDateTime(utcNow(),'yyyy'),'/',      \n    formatDateTime(utcNow(),'mm'),'/',\n    formatDateTime(utcNow(),'dd'))",
							"type": "Expression"
						},
						"fileSystem": "output"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "geolocation_zip_code_prefix",
						"type": "UTF8"
					},
					{
						"name": "geolocation_lat",
						"type": "UTF8"
					},
					{
						"name": "geolocation_lng",
						"type": "UTF8"
					},
					{
						"name": "geolocation_city",
						"type": "UTF8"
					},
					{
						"name": "geolocation_state",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_JSON_PARQT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_JSON_RAW')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_JSON_RAW",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "json",
						"fileSystem": "input"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"_id": {
							"type": "string"
						},
						"index": {
							"type": "integer"
						},
						"guid": {
							"type": "string"
						},
						"isActive": {
							"type": "boolean"
						},
						"balance": {
							"type": "string"
						},
						"picture": {
							"type": "string"
						},
						"age": {
							"type": "integer"
						},
						"eyeColor": {
							"type": "string"
						},
						"name": {
							"type": "string"
						},
						"gender": {
							"type": "string"
						},
						"company": {
							"type": "string"
						},
						"email": {
							"type": "string"
						},
						"phone": {
							"type": "string"
						},
						"address": {
							"type": "string"
						},
						"about": {
							"type": "string"
						},
						"registered": {
							"type": "string"
						},
						"latitude": {
							"type": "number"
						},
						"longitude": {
							"type": "number"
						},
						"tags": {
							"type": "array",
							"items": {
								"type": "string"
							}
						},
						"friends": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"id": {
										"type": "integer"
									},
									"name": {
										"type": "string"
									}
								}
							}
						},
						"greeting": {
							"type": "string"
						},
						"favoriteFruit": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_JSON_RAW')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Parquet_Snowflake')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_Parquet_Snowflake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": {
							"value": "snowflake",
							"type": "Expression"
						},
						"container": {
							"value": "snowflake",
							"type": "Expression"
						}
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_Parquet_Snowflake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Parquet_Snowflake_Raw')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DS_Parquet_Snowflake_Raw",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@concat(\n   'snowflake/',\n    formatDateTime(utcNow(),'yyyy'),'/',      \n    formatDateTime(utcNow(),'MM'),'/',\n    formatDateTime(utcNow(),'dd'))",
							"type": "Expression"
						},
						"fileSystem": "output"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "customer_id",
						"type": "UTF8"
					},
					{
						"name": "customer_unique_id",
						"type": "UTF8"
					},
					{
						"name": "customer_zip_code_prefix",
						"type": "UTF8"
					},
					{
						"name": "customer_city",
						"type": "UTF8"
					},
					{
						"name": "customer_state",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DS_Parquet_Snowflake_Raw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_RESTAPI_RAW')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DS_RESTAPI_RAW",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DS_RESTAPI_RAW')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_RESTAPI_SRC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DS_RESTAPI_SRC",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@concat(\n   'restapi/',\n    formatDateTime(utcNow(),'yyyy'),'/',      \n    formatDateTime(utcNow(),'MM'),'/',\n    formatDateTime(utcNow(),'dd'))",
							"type": "Expression"
						},
						"fileSystem": "output"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "geolocation_zip_code_prefix",
						"type": "UTF8"
					},
					{
						"name": "geolocation_lat",
						"type": "UTF8"
					},
					{
						"name": "geolocation_lng",
						"type": "UTF8"
					},
					{
						"name": "geolocation_city",
						"type": "UTF8"
					},
					{
						"name": "geolocation_state",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DS_RESTAPI_SRC')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SFTP_PARQT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SFTP_PARQT",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@concat(\n   'SFTP/',\n    formatDateTime(utcNow(),'yyyy'),'/',      \n    formatDateTime(utcNow(),'MM'),'/',\n    formatDateTime(utcNow(),'dd'))\n",
							"type": "Expression"
						},
						"fileSystem": "output"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "geolocation_zip_code_prefix",
						"type": "UTF8"
					},
					{
						"name": "geolocation_lat",
						"type": "UTF8"
					},
					{
						"name": "geolocation_lng",
						"type": "UTF8"
					},
					{
						"name": "geolocation_city",
						"type": "UTF8"
					},
					{
						"name": "geolocation_state",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SFTP_PARQT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SFTP_SRC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DS_SFTP_SRC",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "olist_customers_dataset.csv",
						"fileSystem": "input"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "customer_id",
						"type": "String"
					},
					{
						"name": "customer_unique_id",
						"type": "String"
					},
					{
						"name": "customer_zip_code_prefix",
						"type": "String"
					},
					{
						"name": "customer_city",
						"type": "String"
					},
					{
						"name": "customer_state",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DS_SFTP_SRC')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SNOWFLAKE_PRAQT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SNOWFLAKE_RAW",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": {
							"value": "@concat(\n   'snowflake/',\n    formatDateTime(utcNow(),'yyyy'),'/',      \n    formatDateTime(utcNow(),'mm'),'/',\n    formatDateTime(utcNow(),'dd'))",
							"type": "Expression"
						},
						"container": "snowflake"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "customer_id",
						"type": "UTF8"
					},
					{
						"name": "customer_unique_id",
						"type": "UTF8"
					},
					{
						"name": "customer_zip_code_prefix",
						"type": "UTF8"
					},
					{
						"name": "customer_city",
						"type": "UTF8"
					},
					{
						"name": "customer_state",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SNOWFLAKE_RAW')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SNOWFLAKE_SRC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DS_SNOWFLAKE_SRC",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeV2Table",
				"schema": [
					{
						"name": "INDEX",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "ORDER_ID",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "ORDER_ITEM_ID",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "PRODUCT_ID",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "SELLER_ID",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "SHIPPING_LIMIT_DATE",
						"type": "TIMESTAMP_NTZ",
						"precision": 0,
						"scale": 9
					},
					{
						"name": "PRICE",
						"type": "NUMBER",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "FREIGHT_VALUE",
						"type": "NUMBER",
						"precision": 10,
						"scale": 2
					}
				],
				"typeProperties": {
					"schema": "AZURE_INTEGRATION",
					"table": "ORDER_ITEMS_DATASET"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DS_SNOWFLAKE_SRC')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQLONPREM_SRC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SRC_SQLONPREM_PARQT",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(\n   'sql/',\n    formatDateTime(utcNow(),'yyyy'),'/',      \n    formatDateTime(utcNow(),'MM'),'/',\n    formatDateTime(utcNow(),'dd'))\n",
							"type": "Expression"
						},
						"folderPath": "sql",
						"fileSystem": "output"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "\"order_id\"",
						"type": "UTF8"
					},
					{
						"name": "\"customer_id\"",
						"type": "UTF8"
					},
					{
						"name": "\"order_status\"",
						"type": "UTF8"
					},
					{
						"name": "\"order_purchase_timestamp\"",
						"type": "UTF8"
					},
					{
						"name": "\"order_approved_at\"",
						"type": "UTF8"
					},
					{
						"name": "\"order_delivered_carrier_date\"",
						"type": "UTF8"
					},
					{
						"name": "\"order_delivered_customer_date\"",
						"type": "UTF8"
					},
					{
						"name": "\"order_estimated_delivery_date\"",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SRC_SQLONPREM_PARQT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQLOnPrem')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lS_SQLOnPrem",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lS_SQLOnPrem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_OnPrem')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQL_RAW_ONPREM",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"tablename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "",
					"table": {
						"value": "@dataset().tablename",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQL_RAW_ONPREM')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_OnPrem_PARQT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DS_SQL_OnPrem_PARQT",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "sql",
						"fileSystem": "output"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DS_SQL_OnPrem_PARQT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_OnPrem_SRC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQL_OnPrem_SRC",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "\"order_id\"",
						"type": "varchar"
					},
					{
						"name": "\"customer_id\"",
						"type": "varchar"
					},
					{
						"name": "\"order_status\"",
						"type": "varchar"
					},
					{
						"name": "\"order_purchase_timestamp\"",
						"type": "varchar"
					},
					{
						"name": "\"order_approved_at\"",
						"type": "varchar"
					},
					{
						"name": "\"order_delivered_carrier_date\"",
						"type": "varchar"
					},
					{
						"name": "\"order_delivered_customer_date\"",
						"type": "varchar"
					},
					{
						"name": "\"order_estimated_delivery_date\"",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "olist_orders_dataset"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQL_OnPrem_SRC')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SRC_PARQT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DS_SRC_PARQT",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@concat(\n   'csv/',\n    formatDateTime(utcNow(),'yyyy'),'/',      \n    formatDateTime(utcNow(),'MM'),'/',\n    formatDateTime(utcNow(),'dd'))",
							"type": "Expression"
						},
						"fileSystem": "output"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DS_SRC_PARQT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SWITCH_CSV_AzureSQL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DS_SWITCH_CSV_AzureSQL",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DS_SWITCH_CSV_AzureSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_AzureSQLDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('DS_AzureSQLDB_properties_typeProperties_server')]",
					"database": "[parameters('DS_AzureSQLDB_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('DS_AzureSQLDB_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('DS_AzureSQLDB_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_BULK_PARQT')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('DS_BULK_PARQT_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('DS_BULK_PARQT_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Parquet_Snowflake_Raw')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('DS_Parquet_Snowflake_Raw_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('DS_Parquet_Snowflake_Raw_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_RESTAPI_RAW')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('DS_RESTAPI_RAW_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('DS_RESTAPI_RAW_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('DS_RESTAPI_RAW_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_RESTAPI_SRC')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('DS_RESTAPI_SRC_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('DS_RESTAPI_SRC_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SFTP_SRC')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('DS_SFTP_SRC_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('DS_SFTP_SRC_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SNOWFLAKE_PRAQT')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('DS_SNOWFLAKE_PRAQT_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('DS_SNOWFLAKE_PRAQT_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SNOWFLAKE_SRC')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SnowflakeV2",
				"typeProperties": {
					"authenticationType": "Basic",
					"accountIdentifier": "BVCBXPK-AG49862",
					"user": "Anusha",
					"database": "[parameters('DS_SNOWFLAKE_SRC_properties_typeProperties_database')]",
					"warehouse": "COMPUTE_WH",
					"password": {
						"type": "SecureString",
						"value": "[parameters('DS_SNOWFLAKE_SRC_password')]"
					},
					"useUtcTimestamps": false
				},
				"version": "1.1"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQLOnPrem')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('DS_SQLOnPrem_properties_typeProperties_server')]",
					"database": "[parameters('DS_SQLOnPrem_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('DS_SQLOnPrem_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('DS_SQLOnPrem_password')]"
					}
				},
				"connectVia": {
					"referenceName": "Self-HostedIR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/Self-HostedIR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_OnPrem_PARQT')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('DS_SQL_OnPrem_PARQT_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('DS_SQL_OnPrem_PARQT_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_OnPrem_raw')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('DS_SQL_OnPrem_raw_properties_typeProperties_server')]",
					"database": "[parameters('DS_SQL_OnPrem_raw_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('DS_SQL_OnPrem_raw_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('DS_SQL_OnPrem_raw_password')]"
					}
				},
				"connectVia": {
					"referenceName": "Self-HostedIR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/Self-HostedIR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SRC_PARQT')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('DS_SRC_PARQT_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('DS_SRC_PARQT_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SWITCH_CSV_AzureSQL')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('DS_SWITCH_CSV_AzureSQL_properties_typeProperties_server')]",
					"database": "[parameters('DS_SWITCH_CSV_AzureSQL_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('DS_SWITCH_CSV_AzureSQL_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('DS_SWITCH_CSV_AzureSQL_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AZRESQL')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_AZRESQL_properties_typeProperties_server')]",
					"database": "[parameters('LS_AZRESQL_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_AZRESQL_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_AZRESQL_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AZRESQL_EXCEL')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_AZRESQL_EXCEL_properties_typeProperties_server')]",
					"database": "[parameters('LS_AZRESQL_EXCEL_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_AZRESQL_EXCEL_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_AZRESQL_EXCEL_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Azure_SQL')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_Azure_SQL_properties_typeProperties_server')]",
					"database": "[parameters('LS_Azure_SQL_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_Azure_SQL_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_Azure_SQL_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_BLOB_SNOWFLAKE')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('LS_BLOB_SNOWFLAKE_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_BULK_RAW')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_BULK_RAW_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_BULK_RAW_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_CSV_RAW')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_CSV_RAW_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_CSV_RAW_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_EXCEL_PARQT')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_EXCEL_PARQT_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_EXCEL_PARQT_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_EXCEL_RAW')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_EXCEL_RAW_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_EXCEL_RAW_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_JSON_PARQT')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_JSON_PARQT_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_JSON_PARQT_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_JSON_RAW')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_JSON_RAW_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_JSON_RAW_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Parquet_Snowflake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('LS_Parquet_Snowflake_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SFTP_PARQT')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_SFTP_PARQT_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_SFTP_PARQT_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SFTP_RAW')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_SFTP_RAW_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_SFTP_RAW_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SNOWFLAKE_BLOB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('LS_SNOWFLAKE_BLOB_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SNOWFLAKE_RAW')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"sasUri": "[parameters('LS_SNOWFLAKE_RAW_sasUri')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SNOWFLAKE_SNK')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SnowflakeV2",
				"typeProperties": {
					"authenticationType": "Basic",
					"accountIdentifier": "BVCBXPK-AG49862",
					"user": "Anusha",
					"database": "[parameters('LS_SNOWFLAKE_SNK_properties_typeProperties_database')]",
					"warehouse": "COMPUTE_WH",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SNOWFLAKE_SNK_password')]"
					},
					"useUtcTimestamps": false
				},
				"version": "1.1"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQL_OnPrem_SRC')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_SQL_OnPrem_SRC_properties_typeProperties_server')]",
					"database": "[parameters('LS_SQL_OnPrem_SRC_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SQL_OnPrem_SRC_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SQL_OnPrem_SRC_password')]"
					}
				},
				"connectVia": {
					"referenceName": "Self-HostedIR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/Self-HostedIR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQL_RAW_ONPREM')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_SQL_RAW_ONPREM_properties_typeProperties_server')]",
					"database": "[parameters('LS_SQL_RAW_ONPREM_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SQL_RAW_ONPREM_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SQL_RAW_ONPREM_password')]"
					}
				},
				"connectVia": {
					"referenceName": "Self-HostedIR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/Self-HostedIR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SRC_SQLONPREM_PARQT')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_SRC_SQLONPREM_PARQT_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_SRC_SQLONPREM_PARQT_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/lS_SQLOnPrem')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('lS_SQLOnPrem_properties_typeProperties_server')]",
					"database": "[parameters('lS_SQLOnPrem_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('lS_SQLOnPrem_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('lS_SQLOnPrem_password')]"
					}
				},
				"connectVia": {
					"referenceName": "Self-HostedIR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/Self-HostedIR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Self-HostedIR')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		}
	]
}